* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #312F2F;
}

#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-top: 30px;
}

.cryptoTable {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.currency {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 30px
}

.currencyInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #484646;
    border: solid 4px #84DCCF;
    border-radius: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 70px;
}

.currencyInfoLogo {
    font-family: 'Raleway', sans-serif;
    color: #f0e6f2;
    font-size: larger;
}

.currencySymbol {
    display: flex;
    gap: 10px;
}
.currencyImage {
    height: 40px;
    width: 40px;
}

.addMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-top: 30px;
}

.cryptoForm {
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0;
    gap: 20px;
}

.tokenInput {
    height: 40px;
    font-size: 2rem;
    border: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.tokenSubmit {
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: 0;
    background-color: #84DCCF;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
}

.tokenSubmit:hover {
    background-color: cyan;
    border: solid 1px black;
}