* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cryptoTable {
    display: flex;
    gap: 30px;
}

.currency {
    text-align: center;

}